<html>
<head>
  <!--The style applied depends on the order of the templates here, so my CSS came before templates, so templates override-->
 <title> YOSO - You Only Need to Search Once!</title>
 <link href="//code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" rel="Stylesheet"></link>
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
 <link rel="stylesheet" href="static/style.css">
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
 <script src="//code.jquery.com/jquery-2.2.0.min.js"></script>
 <script src="//code.jquery.com/ui/1.10.2/jquery-ui.js" ></script>
</head>

<!--Comments here! -->
<body>
 <div id="DIV_1">
	<div id="DIV_2">
	</div>
	<form autocomplete= "off" action="/" method="post" id="FORM_3">
		<div id="DIV_4">
			<input type="hidden" name="_wpcf7" value="871" id="INPUT_5" />
			<input type="hidden" name="_wpcf7_version" value="5.1.1" id="INPUT_6" />
			<input type="hidden" name="_wpcf7_locale" value="en_US" id="INPUT_7" />
			<input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f871-p768-o1" id="INPUT_8" />
			<input type="hidden" name="_wpcf7_container_post" value="768" id="INPUT_9" />
			<input type="hidden" name="g-recaptcha-response" id="INPUT_10" />
		</div>
    <div class="autocomplete" style="width:300px;">
    <p id="P_9">
        <span id="SPAN_10"><span id="SPAN_11"><span id="SPAN_12"><label id="LABEL_o">
        <input type="radio" name="flight_type" value="Return" checked="checked" id="return" />
        <span id="SPAN_15">Return</span>
				</label></span>
        <span id="SPAN_16"><label id="LABEL_r">
        <input type="radio" name="flight_type" value="One-way" id="oneway" />
        <span id="SPAN_19">One-way</span>
				</label></span></span></span>
  	</p>
    <p id="P_11">
        <label id="LABEL_12">Your City, Country (required)<br id="BR_13"/><span id="SPAN_14">
          <input type="text" name="city1" size="40" id="INPUT_15"/></span>
          <span class="error" aria-live="polite"></span>
        </label>
      </p>
    <p id="P_16">
        <label id="LABEL_12">
				Their City, Country (required)<br id="BR_18" /> <span id="SPAN_19"><input type="text" name="city2" required size="40" id="INPUT_20" /></span>
        </label>
    </p>
    </div>
		<p id="P_21">
			<label id="LABEL_22">
				Date From (required)<br id="BR_23" /> <span id="SPAN_24"><input type="date" name="date_from" required id="INPUT_25" /></span>
			</label>
		</p>
		<p id="P_26">
			<label id="LABEL_27">
				Date To (required)<br id="BR_28" /> <span id="SPAN_29"><input type="date" name="date_to" required id="INPUT_30" /></span>
			</label>
		</p>
    <p>
      <label id="LABEL_27">What do you want to do?</label>
      <div class="col-xs-5">
      <select class="form-control" name="operation">
      		<option>Cheapest</option>
    			<option>Shortest</option>
    			<option>Landing at the same time</option>
			</select>
      </div>
    </p>
    <p>
      <br id="BR_28" />
      <div class="btn-group offset" data-toggle="buttons">
        <label class="btn btn-primary active purple">
          <input type="radio" name="currency" id="option1" value="USD" checked>USD
        </label>
        <label class="btn btn-primary purple">
          <input type="radio" name="currency" id="option2" value="EUR">EUR
        </label>
        <label class="btn btn-primary purple">
          <input type="radio" name="currency" id="option3" value="GBP">GBP
        </label>
      </div>
      <br id="BR_28" />
    </p>
		<p id="P_31">
			<input type="submit" value="Send" id="INPUT_32" />
      <div class = "loader" id="loader"></div>
      <div id="lock-modal"></div>
			<div id="DIV_33">
			</div>
		</p>
		<div id="DIV_34">
			<button type="button" id="BUTTON_35">
				×
			</button>
			<div id="DIV_36">
				<span id="SPAN_37"></span>
			</div>
		</div>
	</form>
</div>


<script type="text/javascript">
jQuery(document).ready(function($){
$('input[name="flight_type"]').on('click', function() {
    if ($(this).val() === 'One-way') {
        $('#INPUT_30').val('#INPUT_25')
        $('#INPUT_30').prop("readonly",true);
    }else{
        $('#INPUT_30').prop("readonly",false);
    }
});readonly
});
</script>

<script>
var countries = ["Ürümqi , China",
"Aalborg , Denmark",
"Zanzibar , Tanzania, United Republic of",
"Aberdeen , United Kingdom",
"Springfield , USA",
"Abu Dhabi , United Arab Emirates",
"Adana , Turkey",
"Addis Ababa , Ethiopia",
"Adelaide , Australia",
"Izmir , Turkey",
"Madrid , Spain",
"Curitiba , Brazil",
"Uyo , Nigeria",
"Jebel Ali , United Arab Emirates",
"Albuquerque , USA",
"Cusco , Peru",
"Aleppo , Syrian Arab Republic",
"Alicante , Spain",
"Almaty , Kazakhstan",
"Altus , USA",
"Espargos , Cape Verde",
"Amsterdam , Netherlands",
"Antalya , Turkey",
"HagŒt–a, Guam International Airport , Guam",
"Asheville , USA",
"Ashgabat , Turkmenistan",
"Astana , Kazakhstan",
"Istanbul , Turkey",
"Auckland , New Zealand",
"Augusta , USA",
"Austin , USA",
"Green Bay , USA",
"Baghdad , Iraq",
"Manama , Bahrain",
"Hohhot , China",
"Baltimore , USA",
"Colombo , Sri Lanka",
"Bangor , USA",
"Barcelona , Spain",
"Bari , Italy",
"Bossier City , USA",
"Basrah , Iraq",
"Latakia , Syrian Arab Republic",
"Marysville , USA",
"Beijing , China",
"Beirut , Lebanon",
"Belfast , United Kingdom",
"Belgrade , Serbia",
"Tel Aviv , Israel",
"Bergen , Norway",
"Berlin , Germany",
"Little Rock , USA",
"Billings , USA",
"Billund , Denmark",
"Birmingham , United Kingdom",
"Birmingham , USA",
"Dakar , Senegal",
"Lexington , USA",
"Bod¿ , Norway",
"Seattle , USA",
"Boise , USA",
"Bologna , Italy",
"Bordeaux/MŽrignac , France",
"Kiev , Ukraine",
"Bournemouth , United Kingdom",
"Hartford , USA",
"Bremen , Germany",
"Brisbane , Australia",
"Bristol , United Kingdom",
"Bandar Seri Begawan , Brunei Darussalam",
"Brussels , Belgium",
"Budapest , Hungary",
"Buffalo , USA",
"Burgas , Bulgaria",
"Cagliari , Italy",
"Cairo , Egypt",
"Calgary , Canada",
"Calicut , India",
"Canberra , Australia",
"Cancœn , Mexico",
"Clovis , USA",
"Cape Town , South Africa",
"Cardiff , United Kingdom",
"Montevideo , Uruguay",
"Catania , Italy",
"Bloomington/Normal , USA",
"Changsha , China",
"Paris , France",
"Charleston , USA",
"Charlotte , USA",
"Chengdu , China",
"Chennai , India",
"Cheongju , Korea, Republic of (South Korea)",
"Mumbai , India",
"Chiang Mai , Thailand",
"Chicago , USA",
"Chicago/Rockford , USA",
"Ulan Bator , Mongolia",
"Chongqing , China",
"Christchurch , New Zealand",
"Tokoname , Japan",
"Rome , Italy",
"Cincinnati , USA",
"Colorado Springs , USA",
"Cleveland , USA",
"Kochi , India",
"Cologne , Germany",
"Columbia , USA",
"Columbus , USA",
"Santiago , Chile",
"SÃƒÂ£o Paulo , Brazil",
"Copenhagen , Denmark",
"Wroc_aw , Poland",
"Cork , Ireland",
"Corpus Christi , USA",
"Latacunga , Ecuador",
"Dusseldorf , Germany",
"Da Nang , Vietnam",
"Vasco da Gama , India",
"Dalaman , Turkey",
"Dallas-Fort Worth , USA",
"Dallas , USA",
"Damascus , Syrian Arab Republic",
"Madison , USA",
"Honolulu , USA",
"Liberia , Costa Rica",
"Daytona Beach , USA",
"Denver , USA",
"Salvador , Brazil",
"Des Moines , USA",
"Valparaiso , USA",
"Detroit , USA",
"Niamey , Niger",
"Angeles/Mabalacat , Philippines",
"Del Rio , USA",
"Marietta , USA",
"Sorong-Papua Island , Indonesia",
"Moscow , Russia",
"Guadalajara , Mexico",
"Bangkok , Thailand",
"Dortmund , Germany",
"Dover , USA",
"Dresden , Germany",
"Dubai , United Arab Emirates",
"Dublin , Ireland",
"Dubuque , USA",
"Duluth , USA",
"Duqm , Oman",
"Abilene , USA",
"Nottingham , United Kingdom",
"Edinburgh , United Kingdom",
"Edmonton , Canada",
"Edwards , USA",
"Eindhoven , Netherlands",
"Bogota , Colombia",
"Athens , Greece",
"Enfidha , Tunisia",
"Kampala , Uganda",
"Omaha , USA",
"Erie , USA",
"Erzurum , Turkey",
"Ankara , Turkey",
"Basel/Mulhouse , France",
"Exeter , United Kingdom",
"Papeete , French Polynesia",
"Fairbanks , USA",
"Spokane , USA",
"Palermo , Italy",
"Faro , Portugal",
"Fort Lauderdale , USA",
"Fort Smith , USA",
"Fort Wayne , USA",
"Fort Worth , USA",
"Davao City , Philippines",
"Porto , Portugal",
"Frankfurt am Main , Germany",
"Fukuoka , Japan",
"Fuzhou , China",
"Gaziantep , Turkey",
"Gdansk , Poland",
"Tijuana , Mexico",
"Boston , USA",
"Hermosillo , Mexico",
"Barcelona , Venezuela",
"Acapulco , Mexico",
"Monterrey , Mexico",
"Milwaukee , USA",
"Peoria , USA",
"Geneva , Switzerland",
"Genova , Italy",
"George , South Africa",
"Houston , USA",
"Busan , Korea, Republic of (South Korea)",
"Seoul , Korea, Republic of (South Korea)",
"Glasgow , United Kingdom",
"Gothenburg , Sweden",
"Natal , Brazil",
"Gran Canaria Island , Spain",
"Rochester , USA",
"Greenville , USA",
"Peru , USA",
"Grozny , Russia",
"Guangzhou , China",
"S‹o Paulo , Brazil",
"Guilin City , China",
"Gulfport , USA",
"Haikou , China",
"Halifax , Canada",
"Doha , Qatar",
"Hamburg , Germany",
"Hangzhou , China",
"Hannover , Germany",
"Atlanta , USA",
"Ujung Pandang-Celebes Island , Indonesia",
"Dhaka , Bangladesh",
"Helsinki , Finland",
"Bucharest , Romania",
"Heraklion , Greece",
"Florian—polis , Brazil",
"Baku , Azerbaijan",
"Alamogordo , USA",
"Hong Kong , Hong Kong",
"Windhoek , Namibia",
"Algiers , Algeria",
"Lisbon , Portugal",
"Huntsville , USA",
"Hurghada , Egypt",
"Bergamo , Italy",
"Tehran , Iran",
"Indianapolis , USA",
"New Delhi , India",
"Antananarivo , Madagascar",
"Jackson , USA",
"Jacksonville , USA",
"Dayton , USA",
"Jeju City , Korea, Republic of (South Korea)",
"Ponta Delgada , Portugal",
"New York , USA",
"Santa Ana , USA",
"Camp Springs , USA",
"Nairobi , Kenya",
"Joplin , USA",
"Lima , Peru",
"Havana , Cuba",
"Varadero , Cuba",
"Surabaya , Indonesia",
"Dar es Salaam , Tanzania, United Republic of",
"Kagoshima , Japan",
"Osaka , Japan",
"Kansas City , USA",
"Kaohsiung City , Taiwan",
"Baden-Baden , Germany",
"Katowice , Poland",
"Kazan , Russia",
"ReykjavÃƒÂ­k , Iceland",
"Bangalore , India",
"Lusaka , Zambia",
"Khabarovsk , Russia",
"Kharkiv , Ukraine",
"Khartoum , Sudan",
"Kigali , Rwanda",
"Jeddah , Saudi Arabia",
"Ad Dammam , Saudi Arabia",
"Riyadh , Saudi Arabia",
"Durban , South Africa",
"Shang-I , Taiwan",
"Yekaterinburg , Russia",
"Accra , Ghana",
"Krakow , Poland",
"Kuala Lumpur , Malaysia",
"Medan , Indonesia",
"Kunming , China",
"Kunsan , Korea, Republic of (South Korea)",
"Samara , Russia",
"Kuwait City , Kuwait",
"Guatemala City , Guatemala",
"Sta Cruz de la Palma, La Palma Island , Spain",
"Lafayette , USA",
"Cagayan de Oro City , Philippines",
"Praia da Vit—ria , Portugal",
"Hampton , USA",
"Larnarca , Cyprus",
"Santo Domingo , Dominican Republic",
"Leeds , United Kingdom",
"Leipzig , Germany",
"Tallinn , Estonia",
"Toronto , Canada",
"Liege , Belgium",
"Mexico City , Mexico",
"Puerto Vallarta , Mexico",
"Liverpool , United Kingdom",
"Ljubljana , Slovenia",
"London , United Kingdom",
"Guiyang , China",
"Los Angeles , USA",
"San JosŽ del Cabo , Mexico",
"New Orleans , USA",
"Louisville , USA",
"Chattanooga , USA",
"Lubbock , USA",
"San Juan , Puerto Rico",
"Glendale , USA",
"Lulea , Sweden",
"Freetown , Sierra Leone",
"Luxembourg , Luxembourg",
"Luxor , Egypt",
"Nassau , Bahamas",
"Lyon , France",
"Bratislava , Slovakia",
"M‡laga , Spain",
"MŸnster , Germany",
"Tampa , USA",
"Macau , Macao",
"Lapu-Lapu City , Philippines",
"Maldives , Maldives",
"Kano , Nigeria",
"Malmo , Sweden",
"Milan , Italy",
"Valletta , Malta",
"Bishkek , Kyrgyzstan",
"Manchester , United Kingdom",
"Manchester , USA",
"Mandalay , Myanmar",
"Maputo , Mozambique",
"Quito , Ecuador",
"Marseille , France",
"Mashhad , Iran",
"Hambantota , Sri Lanka",
"Saginaw , USA",
"Las Vegas , USA",
"Tacoma , USA",
"Knoxville , USA",
"Melbourne , Australia",
"Memphis , USA",
"Oakland , USA",
"Miami , USA",
"Bodrum , Turkey",
"Buenos Aires , Argentina",
"Minneapolis , USA",
"Minsk , Belarus",
"Mobile , USA",
"Bamako , Mali",
"Warsaw , Poland",
"Casablanca , Morocco",
"Mombasa , Kenya",
"Monroe , USA",
"San Salvador (San Luis Talpa) , El Salvador",
"Montgomery , USA",
"Montreal , Canada",
"Mountain Home , USA",
"Makinohara / Shimada , Japan",
"Piseo-ri (Muan) , Korea, Republic of (South Korea)",
"Munich , Germany",
"Lagos , Nigeria",
"Muscat , Oman",
"N'Djamena , Chad",
"Naha , Japan",
"Nanjing , China",
"Nanning , China",
"Naples , Italy",
"Tokyo , Japan",
"Nashville , USA",
"Kinshasa , Congo, the Democratic Republic of the",
"Kolkata , India",
"Chitose / Tomakomai , Japan",
"Islamabad , Pakistan",
"Newark , USA",
"Newcastle , United Kingdom",
"Newport News , USA",
"Denpasar-Bali Island , Indonesia",
"Nice , France",
"Ningbo , China",
"Manila , Philippines",
"Abuja , Nigeria",
"Hanoi , Vietnam",
"Norfolk , USA",
"Kingston , Jamaica",
"San Jose , USA",
"Norwich , United Kingdom",
"Nouakchott , Mauritania",
"Nuremberg , Germany",
"Johannesburg , South Africa",
"Odessa , Ukraine",
"Ontario , USA",
"Orlando , USA",
"Oslo , Norway",
"Ottawa , Canada",
"Ouagadougou , Burkina Faso",
"Eilat , Israel",
"Georgetown , Cayman Islands",
"West Palm Beach , USA",
"Palma De Mallorca , Spain",
"Paphos , Cyprus",
"Perth , Australia",
"Philadelphia , USA",
"Belize City , Belize",
"Phnom Penh , Cambodia",
"Phoenix , USA",
"Phuket , Thailand",
"Greensboro , USA",
"Pisa , Italy",
"Pittsburgh , USA",
"Rostov-on-Don , Russia",
"Podgorica , Montenegro",
"Pointe-ˆ-Pitre , Guadeloupe",
"Port Moresby , Papua New Guinea",
"Portland , USA",
"Poznan , Poland",
"Bras’lia , Brazil",
"Medina , Saudi Arabia",
"St. Petersburg , Russia",
"Punta Cana , Dominican Republic",
"Moline , USA",
"Luanda , Angola",
"Amman , Jordan",
"Akrotiri , United Kingdom",
"Brize Norton , United Kingdom",
"Fairford , United Kingdom",
"Lakenheath , United Kingdom",
"Mildenhall , United Kingdom",
"Hyderabad , India",
"Raleigh/Durham , USA",
"Ramstein , Germany",
"Universal City , USA",
"Hibbing , USA",
"Avarua , Cook Islands",
"Reno , USA",
"Richmond , USA",
"Amarillo , USA",
"Riga , Latvia",
"Rio De Janeiro , Brazil",
"Roanoke , USA",
"Harare , Zimbabwe",
"Monrovia , Liberia",
"Doncaster , United Kingdom",
"Warner Robins , USA",
"Washington , USA",
"Al Masna'ah , Oman",
"Isparta , Turkey",
"Sacramento , USA",
"Salt Lake City , USA",
"San Antonio , USA",
"San Diego , USA",
"San Francisco , USA",
"Santiago de Compostela , Spain",
"Sanya , China",
"Sarajevo , Bosnia and Herzegovina",
"Sarasota/Bradenton , USA",
"Karaganda , Kazakhstan",
"Savannah , USA",
"Belleville , USA",
"Jayapura-Papua Island , Indonesia",
"Mahe Island , Seychelles",
"Goldsboro , USA",
"Shanghai , China",
"Shannon , Ireland",
"Sharjah , United Arab Emirates",
"Sumter , USA",
"Shenzhen , China",
"Wichita Falls , USA",
"Shiraz , Iran",
"Sialkot , Pakistan",
"Siem Reap , Cambodia",
"Caracas , Venezuela",
"Simferopol , Ukraine",
"Singapore , Singapore",
"Sioux City , USA",
"Port Louis , Mauritius",
"Gaborone , Botswana",
"Skopje , Macedonia, the former Yugoslav Republic of",
"Sochi , Russia",
"Jakarta , Indonesia",
"Sofia , Bulgaria",
"South Bend , USA",
"Southampton , United Kingdom",
"Fort Myers , USA",
"St Louis , USA",
"Amritsar , India",
"St. John's , Canada",
"Stavanger , Norway",
"Stockholm , Sweden",
"Stuttgart , Germany",
"Sydney , Australia",
"Syracuse , USA",
"Tabriz , Iran",
"Harbin , China",
"Taipei , Taiwan",
"Taiyuan , China",
"Tallahassee , USA",
"Ho Chi Minh City , Vietnam",
"Belo Horizonte , Brazil",
"Shenyang , China",
"Tashkent , Uzbekistan",
"Tbilisi , Georgia",
"Anchorage , USA",
"Tenerife Island , Spain",
"Cedar Rapids , USA",
"Providence , USA",
"Thessaloniki , Greece",
"Tianjin , China",
"Oklahoma City , USA",
"Tirana , Albania",
"Tocumen , Panama",
"Toledo , USA",
"Novosibirsk , Russia",
"Toulouse/Blagnac , France",
"Trabzon , Turkey",
"Fairfield , USA",
"Treviso , Italy",
"Bristol/Johnson/Kingsport , USA",
"Huntington , USA",
"Kathmandu , Nepal",
"Tripoli , Libyan Arab Jamahiriya",
"Thiruvananthapuram , India",
"Tromso , Norway",
"Trondheim , Norway",
"Tucson , USA",
"Tulsa , USA",
"Tunis , Tunisia",
"Torino , Italy",
"Panama City , USA",
"Ufa , Russia",
"Prague , Czech Republic",
"BelŽm , Brazil",
"Enid , USA",
"Vancouver , Canada",
"Lompoc , USA",
"Varna , Bulgaria",
"Venice , Italy",
"Verona , Italy",
"Victoria , Canada",
"Vienna , Austria",
"Vilnius , Lithuania",
"Santa Cruz , Bolivia",
"Wellington , New Zealand",
"Wenzhou , China",
"Knob Noster , USA",
"Wichita , USA",
"Winnipeg , Canada",
"Wuhan , China",
"Xi'an , China",
"Xiamen , China",
"Yangon , Myanmar",
"Jinan , China",
"Krasnoyarsk , Russia",
"Fussa , Japan",
"Zurich , Switzerland",
"Zagreb , Croatia",
"Zhengzhou , China",
"Dalian , China",
"Yerevan , Armenia",];

function autocomplete(inp, arr) {
  /*the autocomplete function takes two arguments,
  the text field element and an array of possible autocompleted values:*/
  var currentFocus;
  /*execute a function when someone writes in the text field:*/
  inp.addEventListener("input", function(e) {
      var a, b, i, val = this.value;
      /*close any already open lists of autocompleted values*/
      closeAllLists();
      if (!val) { return false;}
      currentFocus = -1;
      /*create a DIV element that will contain the items (values):*/
      a = document.createElement("DIV");
      a.setAttribute("id", this.id + "autocomplete-list");
      a.setAttribute("class", "autocomplete-items");
      /*append the DIV element as a child of the autocomplete container:*/
      this.parentNode.appendChild(a);
      /*for each item in the array...*/
      for (i = 0; i < arr.length; i++) {
        /*check if the item starts with the same letters as the text field value:*/
        if (arr[i].substr(0, val.length).toUpperCase() == val.toUpperCase()) {
          /*create a DIV element for each matching element:*/
          b = document.createElement("DIV");
          /*make the matching letters bold:*/
          b.innerHTML = "<strong>" + arr[i].substr(0, val.length) + "</strong>";
          b.innerHTML += arr[i].substr(val.length);
          /*insert a input field that will hold the current array item's value:*/
          b.innerHTML += "<input type='hidden' value='" + arr[i] + "'>";
          /*execute a function when someone clicks on the item value (DIV element):*/
              b.addEventListener("click", function(e) {
              /*insert the value for the autocomplete text field:*/
              inp.value = this.getElementsByTagName("input")[0].value;
              /*close the list of autocompleted values,
              (or any other open lists of autocompleted values:*/
              closeAllLists();
          });
          a.appendChild(b);
        }
      }
  });
  /*execute a function presses a key on the keyboard:*/
  inp.addEventListener("keydown", function(e) {
      var x = document.getElementById(this.id + "autocomplete-list");
      if (x) x = x.getElementsByTagName("div");
      if (e.keyCode == 40) {
        /*If the arrow DOWN key is pressed,
        increase the currentFocus variable:*/
        currentFocus++;
        /*and and make the current item more visible:*/
        addActive(x);
      } else if (e.keyCode == 38) { //up
        /*If the arrow UP key is pressed,
        decrease the currentFocus variable:*/
        currentFocus--;
        /*and and make the current item more visible:*/
        addActive(x);
      } else if (e.keyCode == 13) {
        /*If the ENTER key is pressed, prevent the form from being submitted,*/
        e.preventDefault();
        if (currentFocus > -1) {
          /*and simulate a click on the "active" item:*/
          if (x) x[currentFocus].click();
        }
      }
  });
  function addActive(x) {
    /*a function to classify an item as "active":*/
    if (!x) return false;
    /*start by removing the "active" class on all items:*/
    removeActive(x);
    if (currentFocus >= x.length) currentFocus = 0;
    if (currentFocus < 0) currentFocus = (x.length - 1);
    /*add class "autocomplete-active":*/
    x[currentFocus].classList.add("autocomplete-active");
  }
  function removeActive(x) {
    /*a function to remove the "active" class from all autocomplete items:*/
    for (var i = 0; i < x.length; i++) {
      x[i].classList.remove("autocomplete-active");
    }
  }
  function closeAllLists(elmnt) {
    /*close all autocomplete lists in the document,
    except the one passed as an argument:*/
    var x = document.getElementsByClassName("autocomplete-items");
    for (var i = 0; i < x.length; i++) {
      if (elmnt != x[i] && elmnt != inp) {
      x[i].parentNode.removeChild(x[i]);
    }
  }
}
/*execute a function when someone clicks in the document:*/
document.addEventListener("click", function (e) {
    closeAllLists(e.target);
});
}


autocomplete(document.getElementById("INPUT_15"), countries)
autocomplete(document.getElementById("INPUT_20"), countries);

</script>

<script type="text/javascript">
   $('#FORM_3').submit(function() {
    $('#loader').css('display', 'block');
    $('#lock-modal').css('display', 'block');
   });
</script>

</body>

</html>
