<!DOCTYPE html>
<html>
<head>
<style>
#title {
  color: black;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  width: 100%;
  font: normal normal 400 normal 16px / 30.6px Karla, Arial, Helvetica, sans-serif;
}

.options {
  background-color: white;
  color: #8c52ff;
  margin: 20px;
  padding: 20px;
}

</style>
</head>

<body>
<p id ="title">1. What do you want to search for?</p2>
<div class = 'options'>
<p><a href="/trip?type=cheapest" id = 'option1'>Cheapest Flight</a></p>
<p><a href="/trip?type=shortest" id = 'option2'>Shortest Flight</a></p>
<p><a href="/trip?type=together" id = 'option3'>Land close Together!</a></p>
</div>
</body>

</html>
